.tip-container input[type="radio"]:checked+label {
    font-weight: bold;
    color: black;
    background-color: #d0d0d0;

}

/* Add this CSS to hide the scrollbar */
.no-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* For Webkit browsers like Chrome and Safari */
.no-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

.no-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Set the color of the thumb */
}

.checkout-country-div .MuiInputBase-root {
    padding-left: 50px !important;
}