.discount-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.discount-table td,
th {
    /* border: 1px solid #bec5c5; */
    text-align: left;
    padding: 8px;
}

.discount-table tr:nth-child(even) {
    background-color: #dddddd;
}